{:chips {:u1 {:pins 20 :row 3}
         :u2 {:pins 16 :row 15}
         :u3 {:pins 16 :row 25}}
 :links [
         [[:u1 1] :+ :red ""]
         [[:u1 10] :- :black ""]
         [[:u1 20] :+ :red ""]

         [[:u2 1] :- :black ""]
         [[:u2 1] [:u2 2] :black ""]
         [[:u2 8] :- :black ""]
         [[:u2 16] :+ :red ""]

         [[:u3 1] :- :black ""]
         [[:u3 1] [:u3 2] :black ""]
         [[:u3 8] :- :black ""]
         [[:u3 16] :+ :red ""]

         [[:u2 10] [:u3 10] :yellow ""]
         [[:u2 9] [:u2 10] :yellow ""]
         [[:u3 9] [:u3 10] :yellow ""]
         [[:u2 15] [:u3 15] :yellow ""]

         [[:u2 7] [:u3 7] :white ""]

         [[:u1 2] [:u2 3] :green ""]
         [[:u1 3] [:u2 4] :green ""]
         [[:u1 4] [:u2 5] :green ""]
         [[:u1 5] [:u2 6] :green ""]
         [[:u1 6] [:u3 3] :green ""]
         [[:u1 7] [:u3 4] :green ""]
         [[:u1 8] [:u3 5] :green ""]
         [[:u1 9] [:u3 6] :green ""]

         [[:u1 18] [:u2 14] :blue ""]
         [[:u1 17] [:u2 13] :blue ""]
         [[:u1 16] [:u2 12] :blue ""]
         [[:u1 15] [:u2 11] :blue ""]

         [[:u1 14] [:u3 14] :blue ""]
         [[:u1 13] [:u3 13] :blue ""]
         [[:u1 12] [:u3 12] :blue ""]
         [[:u1 11] [:u3 11] :blue ""]

         [[:u2 3] :- :led ""]
         [[:u2 4] :- :led ""]
         [[:u2 5] :- :led ""]
         [[:u2 6] :- :led ""]

         [[:u3 3] :- :led ""]
         [[:u3 4] :- :led ""]
         [[:u3 5] :- :led ""]
         [[:u3 6] :- :led ""]

         ]}
